<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="d:\Services\TradeSharp\SiteBridge\wcf_log.txt" type="System.Diagnostics.XmlWriterTraceListener" name="messages">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="5" />
      <rollingStyle value="once" />
      <encoding value="windows-1251" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level: %date [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="200000" />
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="OpenNetTcpBinding" closeTimeout="00:04:00" openTimeout="00:04:00" receiveTimeout="00:10:00" sendTimeout="00:04:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="OpenNetHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="userHttps" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TradeSharp.SiteBridge.Service.AccountEfficiencyCache" behaviorConfiguration="OwnEndpointBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:55059/AccountEfficiency" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="OpenNetHttpBinding" contract="TradeSharp.Contract.Contract.IAccountStatistics" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:55059/QuoteStorage" binding="basicHttpBinding" bindingConfiguration="userHttps" contract="TradeSharp.Contract.Contract.IQuoteStorage" name="IQuoteStorageBinding" behaviorConfiguration="Behaviors.EndpointBehavior"></endpoint>
      <endpoint address="http://localhost:55050/TradeSharpDictionary" binding="basicHttpBinding" bindingConfiguration="OpenNetHttpBinding" contract="TradeSharp.Contract.Contract.ITradeSharpDictionary" name="ITradeSharpDictionaryBinding"></endpoint>
      <endpoint address="http://localhost:55050/TradeSharpAccount" binding="basicHttpBinding" bindingConfiguration="OpenNetHttpBinding" contract="TradeSharp.Contract.Contract.ITradeSharpAccount" name="ITradeSharpAccountBinding" />
      <endpoint address="net.tcp://localhost:55051/TradeSharpServerTrade" binding="netTcpBinding" bindingConfiguration="OpenNetTcpBinding" contract="TradeSharp.Contract.Contract.ITradeSharpServerTrade" name="ITradeSharpServerTradeBinding" />
      <endpoint address="net.tcp://localhost:55153/SignalDelivery" binding="netTcpBinding" bindingConfiguration="OpenNetTcpBinding" contract="BSEngine.SignalDelivery.Contract.Interface.ISignalDelivery" name="ISignalDeliveryBinding"></endpoint>
      <endpoint address="http://localhost:55080/TradeSharpServerManager" binding="basicHttpBinding" bindingConfiguration="OpenNetHttpBinding" contract="TradeSharp.Contract.Contract.ITradeSharpServer" name="ITradeSharpServerBinding" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OwnEndpointBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="QuoteBase" connectionString="Server=localhost;Database=fxi_quote;User Id=sql_quote_user;Password=Quote12345;" />
    <add name="TradeSharpConnection" connectionString="metadata=res://*/TradeSharp.csdl|res://*/TradeSharp.ssdl|res://*/TradeSharp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=MTS_LIVE;Persist Security Info=True;User ID=bse_user;Password=Bse123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="port2listen" value="55500" />
    <add key="startDate" value="01.01.2008" />
    <add key="accounts" value="22" />
    <add key="accountCurrency" value="USD" />
    <add key="profitChartPointCount" value="24" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>