<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="5"/>
      <rollingStyle value="once"/>
      <encoding value="windows-1251"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level: %date [%thread] %logger{1} - %message%newline"/>
      </layout>
    </appender>

    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <clear/>
    <add name="TradeSharpConnection" 
         connectionString="metadata=res://*/TradeSharp.csdl|res://*/TradeSharp.ssdl|res://*/TradeSharp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=54.77.229.42,49382\SQLEXPRESS;Initial Catalog=MTS_LIVE;Integrated Security=false;MultipleActiveResultSets=True;User Id=bse_user;Password=Bse123456;&quot;" providerName="System.Data.EntityClient"/>
    <add name="QuoteBase" 
         connectionString="Server=54.77.229.42,49382\SQLEXPRESS;Database=fxi_quote;User Id=bse_user;Password=Bse123456;"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="OpenNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:00:55" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <binding name="OpenNetTradeTcpBinding" closeTimeout="00:00:55" openTimeout="00:00:55" receiveTimeout="00:00:15" sendTimeout="00:00:15" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="OpenNetHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <binding name="userHttps" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://70.38.11.49:55059/QuoteStorage" binding="basicHttpBinding" bindingConfiguration="userHttps" contract="TradeSharp.Contract.Contract.IQuoteStorage" name="IQuoteStorageBinding" behaviorConfiguration="Behaviors.EndpointBehavior">
      </endpoint>
      <endpoint address="http://70.38.11.49:55059/NewsStorage" binding="basicHttpBinding" bindingConfiguration="userHttps" contract="TradeSharp.Contract.Contract.INewsStorage" name="INewsStorageBinding" behaviorConfiguration="Behaviors.EndpointBehavior">
      </endpoint>
      <endpoint address="http://70.38.11.49:55050/TradeSharpDictionary" binding="basicHttpBinding" bindingConfiguration="userHttps" contract="TradeSharp.Contract.Contract.ITradeSharpDictionary" name="ITradeSharpDictionaryBinding">
      </endpoint>      
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="Quote.ServerPort" value="55056"/>
    <add key="Quote.ServerHost" value="217.174.106.39"/>
  </appSettings>
  
</configuration>
