<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />    
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="5" />
      <rollingStyle value="once" />
      <encoding value="windows-1251" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level: %date [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

  <appSettings>
    <add key="WebServer.Authentication" value="False"/>
    <add key="WebServer.FailsToBlack" value="1"/>
    <add key="WebServer.FailTimeOut" value="60000"/>
    <add key="WebServer.Port" value="8093"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="OpenNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:08:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="30000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="OpenNetHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10000000" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TradeSharp.Delivery.Service.WebServer.EmailSender" behaviorConfiguration="OwnEndpointBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8095/TradeSharpDelivery" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="OpenNetHttpBinding" contract="TradeSharp.Delivery.Contract.ITradeSharpDelivery" />
      </service>


      <service name="TradeSharp.Delivery.Service.WebServer.ModuleStatusController">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:54002/ModuleController"/>
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="netTcpBinding"
          bindingConfiguration="OpenNetTcpBinding"
          contract="TradeSharp.Contract.Contract.IModuleStatus"
         />
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OwnEndpointBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.net>
    <mailSettings>
      <smtp from="mailer@forexinvest.com">
        <network host="10.5.237.12" password="AndSit!qa" port="25" userName="forexinvest\asitaev"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>