@using TradeSharp.SiteAdmin.App_GlobalResources
@{
    ViewBag.Title = @Resource.PageTitleTraderRate;
    Layout = "~/Views/Pages/_PageLayout.cshtml";
}

@section Header {
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
    <link rel="stylesheet" href="/css/button.css" type="text/css" media="screen" title="default" />
    <!--  jquery core -->
    <script src="/js/jquery_1_10_3/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="~/js/jquery_1_10_3/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery_1_10_3/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="~/js/TableAccount.js" type="text/javascript"></script>
    <link href="~/css/jquery_1_10_3_Theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />   

    <script src="~/js/chosen.jquery.min.js" type="text/javascript"></script>
    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <!--[if IE]>
    <link rel="stylesheet" media="all" type="text/css" href="/css/pro_dropline_ie.css" />
    <![endif]-->
}

<div id="content-outer">
    <!-- start content -->
    <div id="content">
        <!--  start page-heading -->
        <div id="page-heading">
            <h1>@Resource.TitleFilterAccountsOnManagementEffectiveness</h1>
        </div>
        <!-- end page-heading -->
        
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_table">
            <tr>
                <th rowspan="3" class="sized">
                    <img src="/images/shared/side_shadowleft.jpg" width="20" class="shadow" alt="" /></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized">
                    <img src="/images/shared/side_shadowright.jpg" width="20" class="shadow" alt="" /></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <div id="content_table_inner">
                        @Html.Partial("TraderRatePartial")
                    </div>
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>
    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>


