<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <clear />
    <add name="QuoteBase" connectionString="Server=10.5.237.10;Database=fxi_quote;User Id=bse_user;Password=Bse123456;" />
    <add name="TradeSharpConnection" connectionString="metadata=res://*/TradeSharp.csdl|res://*/TradeSharp.ssdl|res://*/TradeSharp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.5.237.10;initial catalog=MTS_LIVE;persist security info=True;user id=bse_user;password=Bse123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>